<%= @recipe.title %>
<% full_name = @recipe.user.first_name + ' ' + @recipe.user.last_name %>
Created by: <%= link_to full_name, user_path(@recipe.user.id) %>

<img id="recipe_image" src=<%= @recipe.avatar %>  />

<div>
  <%= @recipe.description %>
  <%= @recipe.ingredients %>
  <%= @recipe.instructions %>
</div>
<% full_name = @recipe.user.first_name + ' ' + @recipe.user.last_name %>


<h2>Reviews:</h2>

<% if @reviews.empty? %>
No one has reviewed this yet.
<% end %>

<% @reviews.each do |r| %>
  Rating: <%= r.rating %>
  By: <%= r.user %>
  <%= r.body %>
  <% if r.user == current_user %>
    <%= link_to "Edit Review", edit_review_path(r) %>
    <%= link_to "Delete Review", r, method: :delete, data: { confirm: "You Sure?" } %>
  <% end %>
<% end %>

<h3>Add a Review!</h3>
<%= form_for [@recipe, @review] do |f| %>
<%= f.label :rating %>
<%= f.text_field :rating %>

<%= f.label :body %>
<%= f.text_area :body %>
<%= f.submit "Add a Review" %>
<% end %>

<% if @user == current_user %>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
  <%= link_to "Delete Recipe", @recipe, method: :delete, data: { confirm: "You sure?" }  %>
<% end %>

<% if current_user.admin %>
  <%= link_to "Delete Recipe", @recipe, method: :delete, data: { confirm: "You sure?" }  %>
<% end %>
