<h1><%= @current_user.first_name %> <%= @current_user.last_name %>'s Profile</h1>

<h3>First name: <%= @current_user.first_name %></h3>
<h3>Last name: <%= @current_user.last_name %></h3>
<h3>Email: <%= @current_user.email %></h3>
<img src="<%= @current_user.avatar.current_path %>" />

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'You sure?' }  %>
