<h3>Edit Your Review</h3>
<%= form_for [@recipe, @review] do |f| %>
<%= f.label :rating %>
<%= f.text_field :rating %>

<%= f.label :body %>
<%= f.text_area :body %>
<%= f.submit "Save Review" %>
<% end %>
